.userInfoContainer{
	-moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-style: inset;
    border-color: #f0f0f0;
    background-color: #0f0f0f;
    min-height: 150px;
    
   
   	float:right;
	position:relative;
	left:-33%;
	
	
	padding: 10px;
	color: #f7f7f7;
	display: none;
}

.logForm
{
	margin-top:60px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.realBody
{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.graph
{
    height: 300px;
    width: 600px;
}

.chartCC
{
	float:right;
	position:relative;
	left:-37%;
	
    border: 1px, solid, #000;
    margin: 10px;
    clear: both;
}
.formHolder
{
    margin-top: 30px;
}

.hdr
{
	padding:10px;
}
.logo
{
	font-size:22px;
}
.logo a{
	color: #a3a3a3;
    text-decoration: none;
}
.text-center{
	text-align: center;
	font-size: 18px;
}
.avatar{
	max-width:80px;
	max-height:80px;
}
.indexJumbo{
	margin-top: 100px
	margin-left: auto;
	margin-right: auto;
	
	
}
.loginJumbo{
	margin-left: 20px;
}